@font-face {
    font-family: 'swiftlight';
    src: url('swift-webfont.woff2') format('woff2'),
         url('swift-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* This Font is to be used with body text*/

h1 {
    font-family: sans-serif;
    color: rgb(300,30,60);
    filter: contrast(80%);
    border: 80px;
    border-color: aqua;
    font-size: 50px;
    text-align: center;
    color: mediumvioletred;
    position: fixed;
    top: 5px;
    padding: 10px;
    margin: 5px;
    width: 100%;
    background-color: #efefef;
    z-index: 20;
}

h4{
    position: absolute;
}

p{
    color: fuchsia;
    font-family: Marker Felt;
    position:static;
    font-size: 80px;
    text-align: center;
    border-bottom-style: ridge;
    border-bottom-color: aqua;
    text-shadow: 10px 180p00x #ff0005;
}
body {
    background-color: hsla(360,70%,50%,0.5);
}


p.text {
    border-top-left-radius: 80px 50px;
    border-top-right-radius: 80px 50px;
    border-bottom-left-radius: 80px 50px;
    border-bottom-right-radius: 80px 50px;
    color: beige;
    position:relative;
    font-family: 'swiftlight';
    font-size: 20px;
    overflow: scroll;
    height: 500px;
    width: 600px;
    margin: auto;

}

p.text2 {

    font-family: sans-serif;
    font-size: 20px;
    height: 500px;
    width: 1000px;
    margin: auto;
    text-align: center;
    background-color: #75efd9;


}

#page{
    margin: auto;
    background-color: aqua;
    filter: opacity(60%);
    width: 1000px;
    border-top-left-radius: 80px 50px;
    border-top-right-radius: 80px 50px;
    border-bottom-left-radius: 80px 50px;
    border-bottom-right-radius: 80px 50px;


}

h3{
    float: left;
    font-size: 30px;
}

div {
    width: 100px;
    height: 100px;
    background-color: red;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

/* Standard syntax */
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

