@font-face {
    font-family: 'swiftlight';
    src: url('swift-webfont.woff2') format('woff2'),
         url('swift-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* This Font is to be used with body text*/

h1 {
    font-family: sans-serif;
    color: chartreuse;
    font-size: 80px;
    text-align: center;
}

p{
    color: fuchsia;
    font-family: Marker Felt;
    font-size: 80px;
    text-align: center;
    border-bottom-style: ridge;
    border-bottom-color: aqua;
    text-shadow: 10px 180p00x #ff0005;
}
body {
    background-color: coral
}
img {
    overflow: hidden;
    height: 1000px;
    width: 1000px;
}

p.text {
    border-top-left-radius: 80px 50px;
    border-top-right-radius: 80px 50px;
    border-bottom-left-radius: 80px 50px;
    border-bottom-right-radius: 80px 50px;
    color: beige;
    font-family: 'swiftlight';
    font-size: 20px;
    overflow: scroll;
    height: 500px;
    width: 500px;
    margin: auto;

}

p.text2 {

    font-family: sans-serif;
    font-size: 20px;
    height: 1000px;
    width: 1000px;
    margin: auto;
    background-color: coral;

}

#page{
    margin: auto;
    background-color: aqua;
    width: 1000px;


}

